[Essential]
Zip=Media/packs/SdkTrays.zip
Zip=Media/packs/profiler.zip

[General]
FileSystem=Media/

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=Media/fonts
FileSystem=Media/materials/programs
FileSystem=Media/materials/scripts
FileSystem=Media/materials/textures
FileSystem=Media/materials/textures/nvidia
FileSystem=Media/models
FileSystem=Media/particle
FileSystem=Media/DeferredShadingMedia
FileSystem=Media/RTShaderLib
FileSystem=Media/RTShaderLib/materials
FileSystem=Media/materials/scripts/SSAO
FileSystem=Media/materials/textures/SSAO
